doctype html
//
  Escape Velocity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Escape Velocity by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main2.css')
#page-wrapper
  // Header
  section#header.wrapper
    // Logo
    #logo
      h1
        a(href='/') Escape Velocity
      p A free responsive site template by HTML5 UP
    // Nav
    nav#nav
      ul
        li.current
          a(href='escape-velocity.html') Home
  // Intro
  section#intro.wrapper.style1
    .title The Introduction
    .container
      p.style1 So in case you were wondering what this is all about ...
      p.style2
        | Escape Velocity is a free responsive
        br.mobile-hide
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;site template by 
        a.nobr(href='http://html5up.net') HTML5 UP
      p.style3
        | It&apos;s 
        strong responsive
        | , built on 
        strong HTML5
        |  and 
        strong CSS3
        | , and released for
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;free under the 
        a(href='http://html5up.net/license') Creative Commons Attribution 3.0 license
        | , so use it for any of
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;your personal or commercial projects &ndash; just be sure to credit us!
      ul.actions
        li
          a.button.style3.large(href='#') Proceed
  // Main
  section#main.wrapper.style2
    .title The Details
    .container
      // Image
      a.image.featured(href='#')
        img(src='/images/pic01.jpg' alt='')
      // Features
      section#features
        header.style1
          h2 Dolor consequat feugiat amet veroeros
          p Feugiat dolor nullam orci pretium phasellus justo
        .feature-list
          .row
            .col-6.col-12-medium
              section
                h3.icon.fa-comment Mattis velit diam vulputate
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
            .col-6.col-12-medium
              section
                h3.icon.solid.fa-sync Lorem ipsum dolor sit veroeros
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
            .col-6.col-12-medium
              section
                h3.icon.fa-image Pretium phasellus justo lorem
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
            .col-6.col-12-medium
              section
                h3.icon.solid.fa-cog Tempus sed pretium orci
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
            .col-6.col-12-medium
              section
                h3.icon.solid.fa-wrench Aliquam consequat et feugiat
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
            .col-6.col-12-medium
              section
                h3.icon.solid.fa-check Dolore laoreet aliquam mattis
                p
                  | Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate et magna feugiat laoreet vel velit lorem.
        ul.actions.special
          li
            a.button.style1.large(href='#') Get Started
          li
            a.button.style2.large(href='#') More Info
  // Highlights
  section#highlights.wrapper.style3
    .title The Endorsements
    .container
      .row.aln-center
        .col-4.col-12-medium
          section.highlight
            a.image.featured(href='#')
              img(src='/images/pic02.jpg' alt='')
            h3
              a(href='#') Aliquam diam consequat
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More
        .col-4.col-12-medium
          section.highlight
            a.image.featured(href='#')
              img(src='/images/pic03.jpg' alt='')
            h3
              a(href='#') Nisl adipiscing sed lorem
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More
        .col-4.col-12-medium
          section.highlight
            a.image.featured(href='#')
              img(src='/images/pic04.jpg' alt='')
            h3
              a(href='#') Mattis tempus lorem
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More
  // Footer
  section#footer.wrapper
    .title The Rest Of It
    .container
      header.style1
        h2 Ipsum sapien elementum portitor?
        p
          | Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nam pharetra laoreet imperdiet volutpat etiam feugiat.
      #copyright
        ul
          li &copy; UHA @ XdHacks-Covid.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.dropotron.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
