doctype html
//
  Stellar by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Covid Policy Tracker
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main2.css')
  link(rel='shortcut icon', href='/favicon.png')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header.alt
    span.logo
      img(src='images/logo.svg' alt='')
    h1 Covid Policy Tracker
    p
      | #Subtitle
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;built by 
      a(href='https://twitter.com/ajlkn') @ajlkn
      |  for 
      a(href='https://html5up.net') HTML5 UP
      | .
  // Nav
  nav#nav
    ul
      li
        a.active(href='#intro') Abstract
      li
        a(href='#first') #Section2
      li
        a(href='#second') #Section3
      li
        a(href='#cta') Get Started
  // Main
  #main
    // Introduction
    section#intro.main
      .spotlight
        .content
          header.major
            h2 Abstract
          p
            | This website provides a concise and easy-to-understand presentation of the effectiveness of policies put forth by various nations in order to control the Covid-19 outbreak. All information and statistics of various countries are presented in a timeline format. The historical progression of Covid-19 in each country is juxtaposed (might need to find a less difficult word) with policies enacted by the country to control the spread of the virus. The effectiveness of the policies can be conjectured based on changes to the rate of spread of Covid-19.

          ul.actions
            li
              a.button(href='generic.html') Learn More
        span.image
          img(src='images/pic01.jpg' alt='')
    // First Section
    section#first.main.special
      header.major
        h2 #Section2
      ul.features
        li
          span.icon.solid.major.style1.fa-code
          h3 #Section2-1
          p
            | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
        li
          span.icon.major.style3.fa-copy
          h3 #Section2-2
          p
            | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
        li
          span.icon.major.style5.fa-gem
          h3 #Section2-3
          p
            | Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.
      footer.major
        ul.actions.special
          li
            a.button(href='generic.html') Learn More
    // Second Section
    section#second.main.special
      header.major
        h2 #Section3
        p
          | Donec imperdiet consequat consequat. Suspendisse feugiat congue
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;posuere. Nulla massa urna, fermentum eget quam aliquet.

          <canvas id="line-chart" width="800" height="450"></canvas>

      ul.statistics
        li.style1
          span.icon.solid.fa-code-branch
          strong 5,120
          |  Etiam
        li.style2
          span.icon.fa-folder-open
          strong 8,192
          |  Magna
        li.style3
          span.icon.solid.fa-signal
          strong 2,048
          |  Tempus
        li.style4
          span.icon.solid.fa-laptop
          strong 4,096
          |  Aliquam
        li.style5
          span.icon.fa-gem
          strong 1,024
          |  Nullam
      p.content
        | Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.
      footer.major
        ul.actions.special
          li
            a.button(href='generic.html') Learn More
    // Get Started
    section#cta.main.special
      header.major
        h2 Get Started
        p
          | Donec imperdiet consequat consequat. Suspendisse feugiat congue
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;posuere. Nulla massa urna, fermentum eget quam aliquet.
      footer.major
        ul.actions.special
          li
            a.button.primary(href='generic.html') Get Started
          li
            a.button(href='generic.html') Learn More
  // Footer
  footer#footer
    section
      h2 Aliquam sed mauris
      p
        | Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
      ul.actions
        li
          a.button(href='generic.html') Learn More
    section
      h2 Etiam feugiat
      dl.alt
        dt Address
        dd 1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA
        dt Phone
        dd (000) 000-0000 x 0000
        dt Email
        dd
          a(href='#') information@untitled.tld
      ul.icons
        li
          a.icon.brands.fa-twitter.alt(href='#')
            span.label Twitter
        li
          a.icon.brands.fa-facebook-f.alt(href='#')
            span.label Facebook
        li
          a.icon.brands.fa-instagram.alt(href='#')
            span.label Instagram
        li
          a.icon.brands.fa-github.alt(href='#')
            span.label GitHub
        li
          a.icon.brands.fa-dribbble.alt(href='#')
            span.label Dribbble
    p.copyright
      | &copy; UHA @ XdHacks-Covid. Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrollex.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
