doctype html
//
  Stellar by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Covid Policy Tracker
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main2.css')
  link(rel='shortcut icon', href='/favicon.png')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header.alt
    span.logo
      img(src='images/logo.svg' alt='')
    h1 Covid Policy Tracker
    p
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;built by UHA @
      |  for 
      a(href='https://event.hackhub.com/event/xdhacksminionline2020') XdHacks-Covid
      | .
  // Nav
  nav#nav
    ul
      li
        a.active(href='#abstract') Abstract
      li
        a(href='#inspiration') Inspiration
      li
        a(href='#first') How It Works
      li
        a(href='#second') Demo
      li
        a(href='#cta') Get Started
  // Main
  #main
    // Introduction
    section#abstract.main
      .spotlight
        .content
          header.major
            h2 Abstract
          p
            | The Covid Policy Tracker provides a concise and easy-to-understand visualization of the policies put forth by various nations to control the Covid-19 outbreak. All of the aggregated statistics are presented in a timeline format. The historical progression of Covid-19 in each country is compared with the policies enacted by the country to control the spread of the virus. The effectiveness of the policies can be roughly concluded by an algorithm that considers the changes to the rate of spread of Covid-19 after the incubation period has passed.

        span.image
          img(src='images/pic01.jpg' alt='')
    // Inspiration
    section#inspiration.main
      .spotlight
        .content
          header.major
            h2 Inspiration
          p
            | With rumours of a potential second wave hitting this fall, our team believes that informing the general public of the effectiveness of various Covid-19 countermeasures and policies is a very important task, as doing so allows the public to advocate for the best decisions going forward. By introducing various approaches to tackling Covid-19 and their widely varying success, our tool allows individuals to directly compare the success of one policy with another.

        span.image
          img(src='images/lady.jpg' alt='')
    // First Section
    section#first.main.special
      header.major
        h2 How it works
      ul.features
        li
          span.icon.major.style3.fa-copy
          h3 Data aggregation
          p
            | The ability to web-scrape allows our server to compile timestamped policies which, when filtered through mongoDB, provides a thorough yet organized list that can be matched with a country's Covid-19 cases at a particular point in time.
        li
          span.icon.solid.major.style1.fa-code
          h3 Web app integration
          p
            | Once the data is compiled, our server makes an HTTP request to send the readable data to the browser so that it can be visually displayed. 
        li
          span.icon.major.style5.fa-gem
          h3 Frameworks
          p
            | The graphs are constructed with the Chart.js library to allow accessibility from a wide range of devices. Our website is hosted on Heroku to support simpler integration with our Node.js/Express application.
    // Second Section
    section#second.main.special
      header.major
        h2 Demo
        p
          | View a demonstration of how the Covid Policy Tracker works.

        iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/4KigFRmr8qM' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    // Get Started
    section#cta.main.special
      header.major
        h2 Get Started
        p
          | Before accessing the Covid Policy Tracker web app, please create an account.
      footer.major
        ul.actions.special
          li
            a.button.primary(href='generic.html') Continue
          li
            a.button(href='generic.html') Sign up
  // Footer
  footer#footer
    section
      h2 About the project
      p
        | Please refer to the README.md file on our GitHub repository for a comprehensive list of the sources used.
      ul.actions
        li
          a.button(href='generic.html') README.md
    section
      span.image
          img(src='images/pic07.png' style='height:200px' alt='')
    p.copyright
      | &copy; UHA @ XdHacks-Covid. Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrollex.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
